.contact {
  text-align: center;
  padding: 75px;

  h4 {
    font-size: 24px;
    color: var(--gray);
  }

  .contact-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  svg {
    width: 30px;
    height: auto;
    margin: 35px 20px 20px;
    transition: transform 0.25s ease;

    g, path {
      fill: var(--gray);
    }

    
    &:hover {
      transform: scale(1.15);
    }
  }

  .instagram {
    width: 35px;
  }

  .resume {
    position: absolute;
  }

  .resume-button {
    display: inline-block;
    writing-mode: unset;
    letter-spacing: 5px;
    padding: 5px 20px;
    margin-top: 10px;

          
    @media (max-width: 768px) {
      background: var(--white);
      color: var(--gray);
      border-color: var(--gray);
    }
  }
}

// Toggle dark
.dark {
  .contact {
    h4 {
      color: var(--white);
    }
  
    svg {
      g, path {
        fill: var(--white);
      }
    }

    .resume-button {
      border-color: var(--white);
      background: transparent;
      color: var(--white);

      &:hover {
        background: var(--white);
        color: var(--gray);
      }
    }
  }
}